/* Chatspace.scss */
.chat-container {
  border: 3px dashed  #646e78; 
  display: flex;
  position: absolute;
 /* Ensure it starts from the top */
   /* Align to the left edge of the viewport */
  flex-direction: column;
  height:670px; /* Fill the entire viewport height */
  width: 292%; /* Fill the entire viewport width */
  background-color: #edf2f7;
  justify-content: flex-end;
 /* Adjust or remove to avoid pushing content beyond the viewport */
   /* Adjusted as part of the previous configuration */
   padding-bottom: 20px;
   top: 0px; 
   left:385px;
   
}

  .chat-messages-container {
    flex-grow: 1;
    overflow-y: auto;
  }
  
  .chat-messages {
    padding:10px;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 8px;
    max-width: 70%;
  }
  
  .user {
    align-self: flex-end;
    background-color: #007bff;
    color: white;
  }
  
  .message-input-form {
    display: flex;
    align-self: center;
  }
  
  .message-input-form input[type="text"] {
    flex-grow: 1;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 800px;
    margin-bottom: 45px;
    font-size: 15px;
  }
  
  .message-input-form button {
    margin-left: 10px;
    padding: 10px ;
    border-radius: 15px;
    background-color: #00246B;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 45px;
    transition: background-color 0.3s;
    width:50px; /* Add transition effect for smooth hover */
    font-size: 20px;

  /* Hover effect */
  &:hover {
    background-color: #000000; /* Change background color on hover */
  }
    
  }
  
  
  /* Adjustments to create an empty space */
  .chat-container {
    margin-bottom: 20px;
    padding-left: 0; /* Add some space at the bottom */
  }
  
  .message-input-form {
    margin-top: auto; /* Push the input field to the bottom */
  }